body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table {
  margin-top: 40px
}

.ReactModal__Content{
  padding: 0px!important;
  background-color: black!important;
}

.data-row-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  margin: 2px;
  background-color: #C7D6D6;
}

.data-header {
  background-color: #222E2E;
  opacity: 85%;
  color: white;
  padding: 15px 45px;
  border: 1px solid #222E2E;
  line-height: 22px;
}

.data-header a{
  color: white;
  font-style: italic;
  display: block;
  margin-bottom: 5px;
}

.data-row-description {
  margin-top: 10px;
  padding: 40px;
  background-color: white;
  white-space: pre-line;

}

/* Search button */
.react-search-field-input {
  height: 25px!important;
  width: 100%!important;
}

.react-search-field{
  height: 50px!important;
  width: 100%!important;
}

.react-search-field-button {
  background-color: #222E2E!important;
  color: white!important;
  height: 50px!important;
  width: 50px!important;
}

.react-search-field-button svg{
  fill: white!important;
  height: 25px!important;
  width: 25px!important;
}

/* Table Row Styling */
.MuiDataGrid-colCellWrapper {
  background-color: #222E2E;
  color: white;
}

.MuiDataGrid-colCellSortable {
  border-left: 1.5px solid white!important;
}

.Mui-even {
  background-color: #C7D6D6!important;
}

.MuiDataGrid-colCellTitle {
  font-weight: bold!important;
}

.MuiDataGrid-iconSeparator {
  display: none!important;
}

.MuiDataGrid-row {
  display: block;
  height: 50px!important;
  max-height: 110px!important;
  background-color: white;
}

.MuiDataGrid-cell{
  height: 50px!important;
  max-height: 105px!important;
  white-space: nowrap!important;
  text-overflow: ellipsis!important;
  line-height: 18px!important;
  padding: 10px 0px 20px 10px!important;
}

.MuiDataGrid-cell:hover{
  cursor: pointer;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
}

.basic-multi-select {
  width: 100%;
}
